@import "tailwindcss";


/* Global Styles */
html,
body {
  background-color: #f7f7f7a0; /* Light gray background for the entire app */

  
  /* Critical for matching the "crisp" look of the original design */
 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #E11D48;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #DC2626; 
}
